extends layout

block content
  .front-banner
    h2 Chat with guys from all around the world
      br
      br
      a(href="/chat", style="font-size:inherit;").btn.btn-primary Start Chat
    small.attribution &quot;<a href='https://www.flickr.com/photos/arturtula/16168922492/' target='_blank'>***</a>&quot;&nbsp;(<a rel='license' href='https://creativecommons.org/licenses/by/2.0/' target='_blank'>CC BY 2.0</a>)&nbsp;by&nbsp;<a href='https://www.flickr.com/people/arturtula/' target='_blank'>&nbsp;</a><a xmlns:cc='http://creativecommons.org/ns#' rel='cc:attributionURL' property='cc:attributionName' href='https://www.flickr.com/people/arturtula/' target='_blank'>Artur (RUS) Potosi</a>
  article.main-content(style="text-align:center; margin-top:0px;")
    h1 Meet guys from all around the world
    p With GaysAround, you can video chat randomly with other guys. 
    p You can save your favourites friends as Cyber Loves.
    p Why sit alone reading this?
    p You can 
      a(href="/chat") start chatting right now.